on: push
name: Build and deploy GH Pages
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.0
      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@v0.21.0
        env:
          BUILD_ONLY: true
      - uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: ./public

  deploy:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - uses: actions/deploy-pages@v4.0.5
        id: deploy
